.VT100>table {
  border: 0px;
  font-family: monospace;
}
.VT100Cell {
  display: inline-block;
  width:8px;
  height:18px;
}

.VT100Cell[data-fg="0"] {color:black}
.VT100Cell[data-fg="1"] {color:red}
.VT100Cell[data-fg="2"] {color:green}
.VT100Cell[data-fg="3"] {color:yellow}
.VT100Cell[data-fg="4"] {color:blue}
.VT100Cell[data-fg="5"] {color:magenta}
.VT100Cell[data-fg="6"] {color:cyan}
.VT100Cell[data-fg="7"] {color:white}

.VT100Cell[data-bg="0"] {background-color:black}
.VT100Cell[data-bg="1"] {background-color:red}
.VT100Cell[data-bg="2"] {background-color:green}
.VT100Cell[data-bg="3"] {background-color:yellow}
.VT100Cell[data-bg="4"] {background-color:blue}
.VT100Cell[data-bg="5"] {background-color:magenta}
.VT100Cell[data-bg="6"] {background-color:cyan}
.VT100Cell[data-bg="7"] {background-color:white}

.VT100Cell[data-bold="true"] {font-weight:bold}
.VT100Cell[data-cursor="insert"] {
  box-shadow: inset 2px 0px white;
}

.VT100Cell[data-cursor="overwrite"] {
  box-shadow: inset 0px 0px 1px 1px white;
}
