BODY {
  overflow:hidden;
}

.fillparent {
  position: absolute;
  border-width: 0px;
  padding: 0px;
  margin:0px;
  width: 100%;
  height: 100%;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
	box-sizing: border-box;         
	-moz-box-sizing: border-box;    
	-webkit-box-sizing: border-box; 
}

.eventcaptureoverlay {
  position: absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  z-index:9999999999;
}

.fullscreentoggle {
  position: absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background-color:white;
  opacity:0;
}

.fullscreentoggle:hover {
  opacity:0.8;
}


ul.fileview>li>*{display:none}  /*selectively bring in children*/

ul.fileview {
	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none; 
  
	BACKGROUND-COLOR: rgba(0,0,0,0);
  display:block;
  margin: 1em;
  padding: 2px;
  list-style-type: none;
    transition:all 500ms;
	-webkit-transition:all 500ms;
	-o-transition:all 500ms;
	overflow : visible;
}

.clientarea>.fileview.details {
	overflow:visible;
}

ul.fileview.icons > li {
	display: inline-block;
	margin:2em;
	margin-bottom:2em;
/*	
  BACKGROUND-COLOR: rgba(192,128,200,0.5);
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid rgba(255,255,255,0);
	border-right: 1px solid rgba(255,255,255,0);
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 5px 8px 8px 8px;
	box-shadow: 2px 2px 5px #444; 
	-moz-box-shadow: 2px 2px 5px #444; 
	-webkit-box-shadow: 2px 2px 5px #444; 
*/
	border-radius: 8px 8px 8px 8px;
	width:48px;
	height:48px;
	bottom: 1px;
	text-align: center;
	vertical-align: top;
	transition:all 500ms;
	-webkit-transition:all 500ms;
	-o-transition:all 500ms;
	background-size: contain;

}
ul.fileview.icons > li:hover {
	box-shadow: 0px 0px 10px 10px rgba(0,32,64,0.7);
}

ul.fileview.icons > li   {
	position:relative;
	top:0px;
	left:0px;
	margin-left:32px;
	margin-right:32px;
	text-align:center;
}

ul.fileview.icons>li>.image {
  display:block;
	background-size: contain;
	margin:1px;
  width:48px;
	height:48px;	
}

ul.fileview.icons > li>.displayName {
/*  content: attr(data-displayname);*/
  display:inline-block;
	position: absolute;
	top:50px;
	left:-32px;
  width:112px;
	font-family: 'Droid Sans', arial, serif;	
  FONT-SIZE: 16px;
	overflow:hidden;
	text-align:center;
}

ul.fileview.icons > li:hover  {
}

ul.fileview.icons > li:hover>.displayName {
  background-color : rgba(255,255,255,0.6);
  outline: 1px solid rgba(0,0,0,0.5);
  overflow:visible;
	word-wrap:break-word;	
  z-index:1;
}

ul.fileview.details > li {
	display: block;
	margin:2px;
	position:relative;
	top:0px;
	left:0px;
	width:560px;
	text-align:left;
}

ul.fileview.details > li>* {
  position: relative;
  overflow:hidden;
}

ul.fileview.details>li>.image {
	display:inline-block;
	background-size: contain;
	top:2px;
	left:12px;
  width:20px;
	height:20px;	
}

ul.fileview.details > li:nth-child(even)>*{
  background-color: rgba(150,200,0,0.05);
}
ul.fileview.details > li:nth-child(odd)>*{
  background-color: rgba(200,150,0,0.05);
}

ul.fileview.details > li:hover>*{
  background-color: rgba(0,200,0,0.25);
}

ul.fileview.details > li>.displayName {
  display:inline-block;
  left:32px;
  width:200px
}
ul.fileview.details > li>.fileSize {
  display:inline-block;
  text-align: right;
  left:40px;
  width:110px;
}

ul.fileview.details > li>.contentType {
  display:inline-block;
  text-align: center;
  left:60px;
  width: 140px;
}

ul.fileview.list > li:hover {
	box-shadow: inset 0px 0px 10px 10px rgba(100,255,64,0.15);
}

ul.fileview.list > li.selected {
	box-shadow: inset 0px 0px 10px 10px rgba(255,255,64,0.7);
}

ul.fileview.list {
  -moz-column-width:250px;
/*  -webkit-column-width:250px;  webkit columns too broken */
  line-height:24px;
  margin:0px;
}

ul.fileview.list > li>* {
  position: relative;
  overflow:hidden;
}

ul.fileview.list > li {
	display: block;
	-moz-break-inside:avoid-column;
	-webkit-break-inside:avoid-column;
	break-inside:avoid-column;	
	margin:2px;
	text-align:left;
}

ul.fileview.list > li>.image {
	display:inline-block;
	background-size: contain;
	top:2px;
	left:12px;
  width:20px;
	height:20px;	
}

ul.fileview.list > li:nth-child(even)>*{
  background-color: rgba(150,200,0,0.05);
}
ul.fileview.list > li:nth-child(odd)>*{
  background-color: rgba(200,150,0,0.05);
}

ul.fileview.list > li>.displayName {
  display:inline;
  left:24px;
  width:225px;
}

/**
 * Circular Tooltip (SO)
 * derived from http://stackoverflow.com/q/13132864/1397351
 * removed end tabs and generally mutilated
 */

.arcmenu {
	position: absolute;
	top: 50%; left: 50%;
	font: 1.5em/1.13 Verdana, sans-serif;
	transition: .5s;
	z-index:100;
	/*background-color:black;  */
	opacity: 1;
}

.arcmenu.hidden {
	-webkit-transform: scale(.001);
	transform: scale(.001);
	opacity: 0;
}

/* generic link styles */
.arcmenu span {
	display: block;
	opacity: .76;
	background-color: #AAA;
	color: #7a8092;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px dimgrey;
}
.arcmenu span>img { width:36px; height:36px;}

.arcmenu span:hover, .arcmenu span:focus { opacity: 1; }
.arcmenu span:hover { outline: none;
 }
/* circular menu */
.tip {
	z-index: 1;
	/**outline: dotted 1px white;/**/
	margin: -126px;
	width: 6em; height: 6em;
	list-style: none;
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
	
}
/* the ends of the menu */
.tip:before, .tip:after {
	display:none;
	position: absolute;
	top: 51%;
	width: .3em; height: 24%;
	opacity: 1;
	background-color: none;
	content: '';
}
.tip:before {
	left: -11.5%;
	border-radius: .25em 0 0 .25em;
	box-shadow: -1px 0 1px dimgrey, inset 1px 0 1px white, inset -1px 0 1px grey, 
				inset 0 1px 1px white, inset 0 -1px 1px white;
	transform: rotate(-80deg);
}
.tip:after {
	right: -11.5%;
	border-radius: 0 .25em .25em 0;
	box-shadow: 1px 0 1px dimgrey, inset -1px 0 1px white, inset 1px 0 1px grey,
				inset 0 1px 1px white, inset 0 -1px 1px white;
	transform: rotate(80deg);
}
/* make the menu appear on click */
/*.button:focus + .tip {*/
.tip {
	opacity: 1;
	margin-top: -80px;
}
/* slices of the circular menu */
.slice {
	overflow: hidden;
	position: absolute;
	/**outline: dotted 1px yellow;/**/
	width: 50%; height: 80%;
 -webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
/* 
 * rotate each slice at the right angle = (A/2)° + (k - (n+1)/2)*A°
 * where A is the angle of 1 slice (30° in this case)
 * k is the number of the slice (in {1,2,3,4,5} here)
 * and n is the number of slices (5 in this case)
 * formula works for odd number of slices (n odd)
 * for even number of slices (n even) the rotation angle is (k - n/2)*A°
 * 
 * after rotating, skew on Y by 90°-A°; here A° = the angle for 1 slice = 30° 
 */
.slice:first-child { -webkit-transform: rotate(-45deg) skewY(60deg); 	transform: rotate(-45deg) skewY(60deg); }
.slice:nth-child(2) { -webkit-transform: rotate(-15deg) skewY(60deg); 	transform: rotate(-15deg) skewY(60deg); }
.slice:nth-child(3) { -webkit-transform: rotate(15deg) skewY(60deg); 	transform: rotate(15deg) skewY(60deg); }
.slice:nth-child(4) { -webkit-transform: rotate(45deg) skewY(60deg); 	transform: rotate(45deg) skewY(60deg); }
.slice:last-child { -webkit-transform: rotate(75deg) skewY(60deg); 	transform: rotate(75deg) skewY(60deg); }
/* covers for the inner part of the links so there's no hover trigger between
   star button & menu links; give them a red background to see them */
.slice:after {
	position: absolute;
	top: 32%; left: 32%;
	width: 136%; height: 136%;
	border-radius: 50%;
	/* "unskew" = skew by minus the same angle by which parent was skewed */
	-webkit-transform: skewY(-60deg);
	transform: skewY(-60deg);
	content: '';
}
/* menu links */
.slice>span{
  display:inline-block;
	width: 210%; height: 210%;
	border-radius: 50%;
	box-shadow: 0 3px dimgrey, inset 0 0 8px white/*, inset 0px 25px 8px 8px rgba(0,255,0,0.2)*/;
	/* "unskew" & rotate by -A°/2 */
	-webkit-transform: skewY(-60deg) rotate(-15deg);
	transform: skewY(-60deg) rotate(-15deg);
	background: /* lateral separators */
			linear-gradient(75deg, 
		transparent 50%, grey 50%, transparent 54%) no-repeat 30% 0,
			linear-gradient(-75deg, 
		transparent 50%, grey 50%, transparent 54%) no-repeat 70% 0,
		/* make sure inner part is transparent */
		radial-gradient(rgba(127,127,127,0) 49%, 
					rgba(255,255,255,.7) 51%, #c9c9c9 52%);
	background-size: 20% 18%, 20% 18%, cover;
	line-height: 1.4;
}
/* arrow for middle link 
.slice:nth-child(3) a:after {
	position: absolute;
	top: 13%; left: 50%;
	margin: -.25em;
	width: .5em; height: .5em;
	box-shadow: 2px 2px 2px white;
	transform: rotate(45deg);
	background: linear-gradient(-45deg, #c9c9c9 50%, transparent 50%);
	content: '';
}
*/


